.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(126, 149, 169);

  .contentContainer {
    width: 100vw;

    .topContainer {
      .logoWrapper {
        display: flex;
        justify-content: center;
        height: 30vh;

        .logo {
          padding: 3vh;
        }
      }

      .formContainer {
        height: 55vh;
        width: 100vw;
        padding-top: 5vh;
      }
    }
    .footerContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 15vh;
      align-items: center;
    }
  }
}
