.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, #79777a, #45457d);
  border-bottom: 1px solid white;
  border-radius: 30px 30px 0px 0px;
}

.unread-msg-icon {
  color: #ffffffef;
}

#navbar-logo,
#navbar-username {
  font-size: 30px;
  padding: 0 5px 0 5px;
  font-weight: 1000;
  color: #ebebeb;
}
