.currentRoom{
  background-color: #a7c3db;
}

.room{
  background-color: #fbfbfb;
  opacity: 0.92;
}
.card{
  margin-bottom: 0;
  color: rgb(17, 22, 20);
  font-size: 20px;
  font-weight: bolder;
}


