/* Hide scrollbar for Chrome, Safari and Opera */
.cards::-webkit-scrollbar{
  max-height: 76vh;
  height: 76vh;
  overflow-y: scroll;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards {
  min-height: 77.8vh;
  max-height: 77.8vh;
  border-radius: 23px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: url("../../../assets/index-bg.jpg");
} 

.card{
  margin-bottom: 0;
  color: rgb(17, 22, 20);
  font-size: 20px;
  font-weight: bolder;
}
