.sidebar {
  background-color: #363f4a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  max-height: 80vh;
  height: 80vh;
  overflow-y: scroll;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  max-height: 80vh;
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .nav-item {
    background-color: #363f4a;
  
} */
/* 
.nav-item .nav-link {
    color: #E0F4F1;
} */
