.nav-tabs .nav-item .nav-link {
  background-color: rgb(206, 206, 206);
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #29a061ef;
  color: #fdfdfd;
  border-color: #c5c7c5;
  font-style:italic;
}
