.my-message-card .friend-message-card {
  width: fit-content;
}

.my-message-card{
  background-color: rgb(156, 211, 232);
  margin-right: 5px;
}

.friend-message-card{
  background-color: rgb(226, 220, 231);
  margin-left: 5px;
}
