.userItem {
  display: grid;
  grid-template-columns: 4fr 6fr;
  min-width: 25vw;
  min-height: 100px;
  background-color: rgb(33, 35, 41);
  list-style: none;
  padding: 1%;
  border-bottom: 1px solid white;
  cursor: pointer;

  &:hover {
    background-color: rgb(40, 43, 53);
  }

  .leftSide {
    margin: 0;
    align-self: center;
  }

  .center {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    // text-align: center;
    justify-content: center;

    .username {
      font-size: 22px;
      font-weight: bolder;
      font-family: "Arial", sans-serif;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      color: #cbc6c6;
    }
    .profileInfo {
      font-size: 16px;
      font-style: italic;
      line-height: 1.2;
      padding-top: 7px;
      color: #3286d0;
      font-family: "Arial", sans-serif;
      text-shadow: 1px 1px 2px rgba(216, 187, 187, 0.2);
    }
  }
}
