.profileWindowContainer {
  height: auto;
}

.imagePreview {
  margin-top: 12vh;
}

.imagePreview :hover {
  cursor: pointer;
}

.uploadBtn {
  background-color: rgb(254, 140, 46);
}

.uploadBtn:hover {
  cursor: pointer;
  background-color: rgb(237, 115, 16);
}
.closeBtnContainer {
  position: absolute;
  top: 20vh;
  right: 5vw;
  transform: translate(-100%, 0%);
}

.userInfoContainer {
  margin-top: 7vh;
}

.userInfoInput {
  text-align: center;
  width: 40vw;
  height: 7vh;
}
