.profileWindowContainer {
  /* background-color: rgb(109, 77, 139); */
  border: 2px solid  #E0F4F1;
  border-radius: 10px;
  height: inherit;
}

.imagePreview{
  margin-top: 5vh;
}

.imagePreview :hover{
    cursor: pointer;   
}

.uploadBtn{
    /* background-color: rgb(254, 140, 46); */
}

.uploadBtn:hover{
  cursor: pointer;  
  /* background-color: rgb(254, 140, 46); */
}
.closeBtnContainer{
  position: absolute;
  top: 20vh;
  right: 5vw;
  transform: translate(-100%, 0%);
}

.userInfoContainer{
  margin-top: 7vh;
}

.userInfoInput{
  text-align: center;
  width : 40vw;
  height: 7vh;
};

.userInfoInput:focus{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
};