.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: 100vw;
  padding-top: 4vh;

  .inputWrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 9vh;

    .errorMessage {
      max-width: 72vw;

      font-weight: 400;
      text-align: center;
      font-size: 15px;
      color: #ffe8a4;
      opacity: 1;
    }
  }
  .buttonContainer {
    text-align: center;
    position: fixed;
    bottom: 22vh;

    .accountText {
      color: #e3dfdf;
    }
    .accountLink {
      cursor: pointer;
      color: #243796;
    }
  }
}
