.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ededed;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  /* Use a CSS variable for background color */
  background-color: var(
    --background-color
  ); 

  &:hover {
    background-color: rgb(76, 76, 76);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }
}
