.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea8959e8;
  color: #ededed;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgb(76, 76, 76);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }
}
