.chat-container {
  height: calc(100vh - 70px);
  display: flex;
}

.chat-window-container {
  flex: 5.5;
  height: 90vh;
  overflow-y : scroll;
  overflow-x: hidden;
}

#left-bar-container{
  flex: 3.5;
}

 #message {
  min-height: 70vh;
}

#chat-window-inputs {
  width: 100%;
  bottom: 0;
}
