.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin: 20px;
  border-radius: 30px;
  background-color: #525282;
}

.sidebar {
  height: 84vh;
  margin-top: 2vh;
}

.chatWrapper {
  height: 84vh;
  margin-top: 2vh;
  margin-right: 1vh;
  border-radius: 23px;
}

.conversation {
  height: 74vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.typingIndicator {
  height: 25px;
  color:  #fbfbfb;
  font-style: italic;
  opacity: 70%;
}

.noConversationsMessage{
  text-align: center;
    margin-top: 15%;
    color: rgb(224, 222, 221);
    font-size: 4vh;
}
