.container {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  width: 100vw;
  background-color: rgb(126, 149, 169);
}

.allUsersContainer{
  background-color: antiquewhite;
  margin: 1vh;
  width: 30vh;
  height: 80vh;
}


















.sidebar {
  height: 84vh;
  margin-top: 2vh;
}

.chatWrapper {
  height: 84vh;
  margin-top: 2vh;
  margin-right: 1vh;
  border-radius: 23px;
}

.conversation {
  height: 74vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.typingIndicator {
  height: 25px;
  color: #fbfbfb;
  font-style: italic;
  opacity: 70%;
}

.noConversationsMessage {
  text-align: center;
  margin-top: 15%;
  color: rgb(224, 222, 221);
  font-size: 4vh;
}
