.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  // background-color: rgb(166, 183, 197);
  
  .mainWindowContainer {
    flex: 1;
  }
}