.container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .sidebar {
      display: none;
    }

    .mainWindowContainer{
      width: 100vw;
    }
  }

  /* Media Query for low resolution Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    .sidebar {
      display: none;
    }

    .mainWindowContainer{
      width: 100vw;
    }
  }

  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: 40% auto;
   
  }

  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    grid-template-columns: 35% auto;
  
  }

  /* Media Query for Large screens */
  @media (min-width: 1281px) {
    grid-template-columns: 26% auto;
  }
}
