.chat-container {
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.457);
}

.chat-window-container {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.typing-indicator {
  position: fixed;
  bottom: 24vh;
  color: black;
  font-style: italic;
  opacity: 70%;
}
