.message-card {
  max-width: 30vw;
  margin: 0px;
  padding: 0px;
}
.my-message-card {
  background-color: rgb(156, 211, 232);
  margin-right: 5px;
}

.friend-message-card {
  background-color: rgba(244, 246, 245, 0.95);
  margin-left: 5px;
}

.message-text {
  padding: 6px 6px 0px 20px;
  margin: 0;
}

.time-container {
  margin: 0px 8px 2px 5px;
  font-size: small;
  text-align: end;
}

.timeago {
  padding-left: 5px;
  padding-right: 2px;
}

.clock-icon {
  margin-right: 4px;
}
