.submit-btn {
  background-color: #676767;
  background-color: #ea8959e8;
  color: #ededed;
}

.submit-btn:hover {
  background-color: rgb(76, 76, 76);
}

.submit-btn:focus {
  color: #dad8d8;
  background-color: rgb(76, 76, 76);
}

.error-msg {
  margin-left: 5px;
  font-size: small;
  color: #a91111;
}

.account-nav-text {
  color: #e3dfdf;
}
.account-nav-link {
  cursor: pointer;
  color: #243796;
}
