.submit-btn {
  background-color: rgb(17, 117, 82);
}

.submit-btn:hover {
  background-color: rgb(10, 157, 106);
}

.submit-btn:focus {
  color: #dad8d8;
  background-color: rgb(17, 117, 82);
}

.error-msg{
  margin-left: 5px;
  font-size: small;
  color: #e60b0b;
}

