.tabs{
    padding: 0;
    margin: 0;
}

.nav-pills .nav-link {
    background-color: rgb(133, 129, 129);
    color: rgb(255, 255, 255);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(152, 67, 67);
    color: #ffffff;
}

