.roomItem {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.9fr;
  grid-template-rows: 100%;
  height: 9vh;
  background-color: #fbfbfb;
  list-style: none;
  padding: 2%;
  border-bottom: 1px solid rgb(204, 204, 204);
  cursor: pointer;

  .leftSide {
    margin: 0;
    align-self: center;
  }

  .center {
    padding-top: 1px;
    position: relative;
    // border-right: 1px solid black;

    .username {
      font-size: 22px;
      line-height: 1.2;
      font-weight: bolder;
      font-family: "Arial", sans-serif;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      color: #56a9f1;
    }
    .preview {
      font-size: 16px;
      font-style: italic;
      line-height: 1.2;
      // color: #56a9f1;
      padding-top: 7px;
      font-family: "Arial", sans-serif;
      text-shadow: 1px 1px 2px rgba(216, 187, 187, 0.2);
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div {
      margin: 0;
      position: relative;
      width: fit-content;
      background-color: #6b88a2;
    }

    span {
      position: relative;
      top: 15px;
    }
  }
}

.currentRoom {
  background-color: #a7c3db;
}


