.container {  
  height: 100%;
  background-color: rgb(33, 35, 41);
  
  .uploadImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    height: 65%;
    
    .imagePreview {

      height: 350px;
      
      &:hover {
        cursor: pointer;
      }
      
      .image{
        object-fit: contain;
      }
    }
  }
  
  hr {
    height: 3px;
  }

  .userInfoContainer {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .submitInfoButton {
      margin-top: 20px;
    }
  }
}
