.profileContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.imagePreview {

  /* width: 50%; */
}

.imagePreview :hover {
  cursor: pointer;
}

.closeBtnContainer {
  display: flex;
  justify-content: flex-end;
  color: black;
  /* background-color: black; */
}
.uploadBtn {
  background-color: rgb(254, 140, 46);
}

.uploadBtn:hover {
  cursor: pointer;
  background-color: rgb(237, 115, 16);
}

.userInfoContainer {
  /* margin-top: 7vh; */
}

.userInfoInput {
  text-align: center;
  width: 40vw;
  height: 7vh;
}
